/*

!BetterDiscord/
BetterDiscord/*
!BetterDiscord/bdstorage.json
!betterlockscreenrc
!blender/
blender/*
!blender/2.83/
blender/2.83/*
!blender/2.83/scripts/
blender/2.83/scripts/*
!blender/2.83/scripts/presets
!blender/2.83/config
blender/2.83/config/*
!blender/2.83/config/userpref.blend
!bspwm/
!Code\ -\ OSS/
Code\ -\ OSS/*
!Code\ -\ OSS/User
Code\ -\ OSS/User/*
!Code\ -\ OSS/User/keybindings.json
!Code\ -\ OSS/User/settings.json
!dunst/
!fish/
fish/*
!fish/*.fish
!fish/dir_colors
!glava
glava/*
!glava/rc.glsl
!glava/bars.glsl
!kitty/
!Nextcloud/
Nextcloud/*
!nvim/
!osync/
!picom/
!polybar/
!ranger/
ranger/plugins/
!redshift/
!rofi/
!spicetify/
spicetify/*
!spicetify/config.ini
!spicetify/Themes/
!sxhkd/
!screenshots/
!tmux/
!userchrome/
!wallpaper.png
!README.md
!LICENSE.md
!.gitignore
!pkglist.txt
*.log
