/*

!BetterDiscord/
BetterDiscord/*
!BetterDiscord/bdstorage.json
!betterlockscreenrc
!bspwm/
!Code\ -\ OSS/
Code\ -\ OSS/*
!Code\ -\ OSS/User
Code\ -\ OSS/User/*
!Code\ -\ OSS/User/keybindings.json
!Code\ -\ OSS/User/settings.json
!dunst/
!kitty/
!nvim/
!picom/
!polybar/
!ranger/
!redshift/
!rofi/
!spicetify/config.ini
!spicetify/Themes/
!sxhkd/
!zsh/
!screenshots
!wallpaper.png
!README.md
!LICENSE.md
!.gitignore
*.log
