/*

!alacritty/
!BetterDiscord/bdstorage.json
!betterlockscreenrc
!bspwm/
!cava/
!dunst/
!doom/
!picom/
!polybar/
!redshift/
!rofi/
!spicetify/config.ini
!spicetify/Themes/
!sxhkd/
!zsh/
!screenshot.png
!wallpaper.png
!README.md
!LICENSE.md
!.gitignore
*.log
